@import url(css/normalize.css);
@import url(https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300&display=swap>);
body {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666666; }

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden; }

.container {
  width: 940px;
  margin: 0 auto;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
  color: #292929; }

table {
  border-collapse: collapse; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  box-sizing: border-box; }

a {
  color: inherit; }

img {
  display: block;
  max-width: 100%; }

.hero {
  background: url(../img/ellipse.png) left 63% top 70% no-repeat;
  background-color: #F5F5F5;
  height: 50vh;
  min-height: 650px;
  color: #292929;
  position: relative; }
  .hero:before {
    position: absolute;
    bottom: -40px;
    right: 2%;
    content: url("../img/rectangle.png"); }

.hero__title-section {
  width: 46%; }

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 0 60px; }

.hero__main-title {
  font-size: 48px;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase; }

.hero__title--desc {
  font-size: 21px;
  margin-bottom: 50px;
  padding-right: 10%;
  font-family: "Alegreya Sans", Helvetica, sans-serif; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Alegreya Sans", Helvetica, sans-serif; }

.menu__list {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: 10px;
  font-size: 18px; }

.menu__item {
  margin-right: 29px; }
  .menu__item:last-child {
    margin-right: 30px; }

.phone-number {
  font-size: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 30px; }

.phone-number__icon-elem {
  width: 12px;
  height: 12px;
  margin-right: 6px; }

.phone-number__text {
  font-family: "Play", Helvetica, sans-serif; }

.menu__link {
  text-decoration: none; }

.features {
  display: flex; }

.features__item {
  margin-right: 31px; }
  .features__item:last-child {
    margin-right: 0; }

.feature {
  display: flex; }

.feature__icon {
  width: 45px;
  margin-right: 7px; }

.feature__text {
  font-size: 16px;
  max-width: 90px; }

.btn {
  font-size: 19px;
  font-weight: normal;
  padding: 18px 35px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  border: none; }

.btn--theme--pink {
  background: #E01F3D;
  color: #fff; }
  .btn--theme--pink:hover {
    color: #060606;
    background: #fff; }

.btn--theme--transparent {
  background: transparent;
  color: #fff;
  text-transform: none; }
  .btn--theme--transparent:hover {
    color: #E01F3D;
    background: #fff; }

.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .section--font-color--white {
    color: #fff; }
    .section--font-color--white .section__title {
      color: inherit; }

.section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase; }

.headline {
  text-align: center; }

.headline__title {
  margin-bottom: 15px; }

.headline__subtitle {
  padding: 0 22%; }

.benefits {
  display: flex; }

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative; }
  .benefits__item:before {
    content: url(../img/graydots.png);
    position: absolute;
    top: 30px;
    right: 0;
    transform: translateX(50%); }
  .benefits__item:first-child {
    padding-left: 0; }
  .benefits__item:last-child {
    padding-left: 0; }
    .benefits__item:last-child:before {
      display: none; }

.benefit {
  text-align: center; }

.benefit__image-wrapper {
  display: inline-block;
  width: 126px;
  height: 126px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden; }

.benefit__icon {
  width: 60px;
  height: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.benefit__title {
  font-size: 24px;
  font-weight: bold; }

.benefits-section {
  content: url(../img/redtriangle.png) no-repeat;
  bottom: -40px;
  left: 2%; }

.reviews__display {
  background: #F8FAF9;
  padding: 50px 45px 34px;
  position: relative; }
  .reviews__display:before {
    content: "";
    display: block;
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -65px; }

.reviews__display-inner {
  display: flex; }

.reviews__avatar {
  width: 254px;
  height: 260px; }

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.reviews__content {
  flex: 1;
  margin-left: 20px; }

.reviews__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 22px;
  color: black; }

.reviews__text {
  margin-bottom: 36px; }

.reviews__author {
  font-size: 18px;
  font-weight: bold;
  color: black; }

.reviews__switcher {
  display: flex;
  padding: 30px 345px 30px; }

.interactive-avatar {
  width: 80px;
  height: 80px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative; }
  .interactive-avatar--active {
    border-color: #E01F3D; }

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block; }

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.order-section {
  background: url(../img/blackbackground.png) left 63% top 70% no-repeat;
  background-color: black;
  color: #fff;
  position: relative; }

.form {
  display: flex; }

.form__col {
  flex: 1;
  margin-right: 20px; }
  .form__col:last-child {
    margin-right: 0; }

.form__row {
  display: flex;
  margin-bottom: 18px; }

.form__block {
  flex: 1;
  margin-right: 20px; }
  .form__block:last-child {
    margin-right: 0; }

.form__input {
  width: 100%;
  padding: 18px 11px;
  border: solid 4px transparent;
  border-radius: 2%; }
  .form__input--textarea {
    height: 180px;
    resize: none; }
  .form__input:focus {
    border: solid 4px #E01F3D; }

.form__controls {
  display: flex;
  flex-wrap: wrap; }

.radio {
  display: flex;
  cursor: pointer;
  user-select: none; }
  .radio--checkbox .radio__visible {
    border-radius: 0; }
    .radio--checkbox .radio__visible:before {
      background: url(../img/tick.png) center center no-repeat; }

.radio__elem {
  display: none; }
  .radio__elem:checked ~ .radio__visible:before {
    display: block; }

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background: #fff; }
  .radio__visible:before {
    content: "";
    width: 14px;
    height: 14px;
    background: #E01F3D;
    border-radius: 50%;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.fixed-menu {
  position: fixed;
  top: 25%;
  right: 27%;
  list-style: none;
  z-index: 100; }

.fixed-menu__item {
  margin-bottom: 5px; }
  .fixed-menu__item--active .fixed-menu__link {
    border-color: #E01F3D; }

.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative; }
  .fixed-menu__link:before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #666666;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/*# sourceMappingURL=main.css.map */
